<!--<p>
	<h2>Welcome to the beginning of something beautiful</h2>
</p>-->
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>Brewing Something Beautiful</h1>
  <p>
  	Mixing some of the most interesting concoctions. New elements are soon to come. They will be sure to tantalize your senses. Click below to 	stay updated on upcoming releases. 
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Keep Me Updated</a>
  </p>
</div>