<p><a href="#loadpics">[Back]</a></p>
<!--<div id="logout">
  <a href="#logout"><button id="logout" type="button" class="btn btn-primary">Logout</button></a>
</div>-->
<div id="logout" class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
    <span class="glyphicon glyphicon-user"></span><%=name%><span class="caret"></span>
  </button>
  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>-->
  <ul class="dropdown-menu" role="menu">
    <li><a href="#profile">My Profile</a></li>
    <li><a href="#logout">Logout</a></li>
  </ul>
</div>
<div>
  <p>
    <!--<div class="container">-->
      <img alt="200x200" class="img-thumbnail" data-src="holder.js/400x400" style="width: 400px; height: 400px;" src="<%=fileSource%>"></span>
    <!--</div>-->
  </p>
  <p class="caption-text"><%=caption%></p>
  <div>
    <a id="favorite" data-model="<%=id%>" style="cursor: pointer;"><span class="glyphicon glyphicon-star"></span><span id="fave-count">5</span></a>
  </div>
</div>

<div id="comments">
  <div id="current-comments">
    <%=comments%>
  </div>
  <span>
    <span><strong>Add A Comment</strong></span>
    <textarea id="comment" class="form-control" rows="4"></textarea>
  </span>
  <div class="button-bar">
    <button id="add-comment" type="button" class="btn btn-primary">Add A Comment</button>
  </div>
</div>
