<p><a href="#loadpics">[Back]</a></p>
<div id="logout">
  <a href="#logout"><button id="logout" type="button" class="btn btn-primary">Logout</button></a>
</div>
<div>
  <p>
    <!--<div class="container">-->
      <img alt="200x200" class="img-thumbnail" data-src="holder.js/400x400" style="width: 400px; height: 400px;" src="<%=fileSource%>"></span>
    <!--</div>-->
  </p>
  <p class="caption-text"><%=caption%></p>
  <div>
    <a id="favorite" data-model="<%=id%>" style="cursor: pointer;"><span class="glyphicon glyphicon-star"></span><span id="fave-count">5</span></a>
  </div>
</div>

<div id="comments">
  <div id="current-comments">
    <%=comments%>
  </div>
  <span>
    <span><strong>Add A Comment</strong></span>
    <textarea id="comment" class="form-control" rows="4"></textarea>
  </span>
  <div class="button-bar">
    <button id="add-comment" type="button" class="btn btn-primary">Add A Comment</button>
  </div>
</div>
