<div id="logout" class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="userMenu" data-toggle="dropdown">
    <span class="glyphicon glyphicon-user"></span><%=name%><span class="caret"></span>
  </button>
  <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>-->
  <ul id="user-list" class="dropdown-menu" role="menu">
    <li><a href="#profile">My Profile</a></li>
    <li><a href="#logout">Logout</a></li>
  </ul>
</div>

<div id="no-profile-show" class="alert alert-info" role="alert" style="display:none;">
  <span>You must be logged in to view this feature</span>
</div>

<div id="profile">
  <div>
    <div class="btn-group btn-group-justified">
      <div class="btn-group">
        <button id="profile-uploads" type="button" class="btn btn-default">Uploads</button>
      </div>
      <div class="btn-group">
        <button id="profile-settings" type="button" class="btn btn-default">Edit Profile</button>
      </div>
    </div>
  </div>

  <div class="profile-uploads">
    <div id="profile-pictures" class="row">
    </div>
    <div id="no-uploads" class="alert alert-info" role="alert" style="display:none;">
      <span>Oh bummer! You do not have any photos. Upload one to start tracking your meals.</span>
    </div>

    <div class="button-bar">

      <button type="submit" id="photo-upload" class="btn btn-lg btn-primary">Upload a Photo</button>

    </div>

    <!-- Upload Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Upload a Photo</h4>
          </div>
          <div class="modal-body">
            <div id="upload-success" class="alert alert-success" role="alert" style="display:none;">Photo successfully saved</div>
            <div id="upload-errors" class="alert alert-danger" role="alert" style="display:none;">There was an error saving your photo</div>
            <div class="modal-image">
              <span class="preview">
                <div id="loading" style="display:none;"><img src="/images/loader.gif" class="loading-indicator upload"/></div>
                <img id="modal-image" alt="200x200" class="img-thumbnail" data-src="holder.js/200x200" style="width: 200px; height: 200px;" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMDAiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjAwIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEwMCIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEzcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjAweDIwMDwvdGV4dD48L3N2Zz4=">
              </span>
              <span class="modal-caption">
                <span><strong>Add A Caption</strong></span>
                <textarea id="caption" class="form-control" rows="4"></textarea>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <input style="display:none;" id="fileupload" type="file" name="files[]" multiple>
            <button id="uploader" type="button" class="btn btn-primary">Upload an Image</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button id="save" type="button" class="btn btn-success disabled">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete Confirmation Modal -->
    <div id="delConfModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            Are you sure you want to delete this photo?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button id="ok" type="button" class="btn btn-success">Ok</button>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-settings" style="display:none;">
    <div class="panel panel-default">
      <div class="panel-body">
        <div id="settings-success" class="alert alert-success" role="alert" style="display:none;">Profile settings successfully saved</div>
        <div id="settings-errors" class="alert alert-danger" role="alert" style="display:none;">There was an error saving your settings</div>
        <form class="form-signin" role="form">
          <div id="loading-settings" style="display:none;"><img src="/images/loader.gif" class="loading-indicator settings"/></div>
          <div class="user_name">
            <input id="name" class="form-control" type="text" autofocus="" placeholder="Name">
          </div>
          <div class="user_email">
            <input id="username" class="form-control" type="email" autofocus="" required="" placeholder="Username">
          </div>
          <div class="user_email">
            <input id="email" class="form-control" type="email" autofocus="" required="" placeholder="Email">
          </div>
          <div id="post-settings">
            <input id="private-posts" type="checkbox"><label class="input-label">Posts are private</label>
          </div>
          <div id="reset">
            <button id="reset-password" type="button" class="btn btn-primary">Reset Password</button>
          </div>
          <!--<button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>-->
        </form>
      </div>
      <div class="panel-footer">
        <button id="save-changes" type="submit" class="btn btn-success">Save Changes</button>
      </div>
    </div>
  </div>
</div>
