<!--<p>
	<h2>Welcome to the beginning of something beautiful</h2>
</p>-->
<!-- Main component for a primary marketing message or call to action -->
<!--<div class="jumbotron">
  <h1>Cooking Something Delicious</h1>
  <p>
  	Creating some of the most interesting recipes that will be sure to tantalize your taste buds. Click below to stay updated on upcoming dishes.
  </p>
  <p>
    <a class="btn btn-lg btn-primary" href="#" role="button">Keep Me Updated</a>
  </p>
</div>-->

<div class="cover-container">
  <p><a href="#loadpics">[Enter]</a></p>
  <div class="inner cover">
    <h1 class="cover-heading">Cooking Something Delicious</h1>
    <p class="lead">
      Creating passion-filled recipes that will be sure to tantalize
      your taste buds. Sign up below to stay updated on upcoming dishes.
    </p>
    <p class="lead">
      <input type="email" placeholder="Email" name="email">
      <a class="btn btn-lg btn-primary" href="#" role="button">Keep Me Updated</a>
    </p>
  </div>
  <div class="cover-back"></div>
</div>
